*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: #fff;
}
.container{
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav{
    padding: 30px 0;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}
nav .container{
    align-items: center;
}
nav .container .left h2{
    color: rgb(78,78,78);
    font-weight: 200;
}
nav .container .right{
    display: flex;
}
nav .container .right ul{
    list-style: none;
}
nav .container .right ul li{
    display: inline;
    font-size: 18px;
    padding: 0 20px;
}
nav .container .right ul li.active{
    color: #d94343;
}
nav .container .right i{
    padding: 0 10px; 
    font-size: 20px;
}
section .left{
    padding: 140px 0 0;
    max-width: 50%;
}
section .left h1{
    text-align: left;
    font-size: 72px;
    text-transform: uppercase;
}
section .left h1 span{
    color: #d94343;
}
section .left p{
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
section button{
    background: #d94343;
    border-radius: 50px;
    padding: 10px 25px;
    border: 0;
    color: #fff;
}
section .right{
    max-width: 50%;
}
section .right img{
    margin: 0 auto;
    display: block;
    padding-top: 80px;
    height: 550px;
}
section ol{
    position: fixed;
    right: 20px;
    top: 40%;
    list-style: none;
    color: rgb(56,55,55);
}
section ol li{
    font-size: 28px;
    padding: 5px 0;
}
@media only screen and (max-width:1200px) and (min-width:1000px){
    .container{
        width: 900px;
    }
}
@media only screen and (max-width:1000px) and (min-width:900px){
    .container{
        width: 780px;
    }
}
@media only screen and (max-width:900px) and (min-width:800px){
    .container{
        width: 100%;
        padding: 0 15px;
    }
    section .left h1{
        font-size: 40px;
    }
    section .left p{
        font-size: 20px;
    }
    section .right img{
        width: 400px;
    }
}
@media only screen and (max-width:800px){
    .container{
        flex-direction: column;
        width: 100%;
    }
    nav .right{
        padding-top: 15px;
    }
    section .right,
    section .left{
        max-width: 100%;
    }
    section .left{
        padding: 40px;
    }
    section .right{
        order: -1;
    }
}